html{
    background: no-repeat fixed center;
    background-size: 100% 100%;
    background-image: url("media/dookki.jpg");}
header{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    width: 80%;
    margin: auto;
    color: white;
    text-align: center;
    font-size: 30pt;
    line-height: 0pt;
}

.bodyShit{
    margin: auto;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.4) ;
    color: white;
    text-align: center;
    font-size: 20pt;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 30pt;
}

.txtContainer{
    width: 90%;
    margin: auto;
}

footer{
    overflow: hidden;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 14pt;
    line-height: 30pt;
    width: 80%;
    margin: auto;
}

header:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

.bodyShit:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

footer:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 880px) {
    header{
        width: 100%;
    }
    .bodyShit{
        width: 100%;
    }

    footer{
        width: 100%;
    }
}

